/* ------------------------------------------- bricks */
.brick {
	float:left;
	padding:0;
	margin:0;
	width:100%;
	position:relative;
	box-sizing: border-box;
}
@media screen and (max-width: 800px) {
	.brick {width:100% !important;}
}
.brick > .pad {padding:10px;}

.left, .pull-left {float:left;}
.right, .pull-right {float:right;}

.one {width:100%;}
.two {width:50%;}
.three {width:33%;}
.four {width:25%;}
.five {width:20%;} 
.six {width: 16.6%;}


.dauto, .wauto, .auto {width:auto;}
.d90 .w90{width:90%;}
.d80 .w80{width:80%;}
.d70 .w70{width:70%;}
.d60 .w60{width:60%;}
.d40 .w40{width:40%;}
.d30 .w30{width:30%;}
.d20 .w20{width:20%;}
.d10 .w10{width:10%;}

.top {vertical-align:top;}
.bottom {vertical-align:bottom;}
.middle {vertical-align:middle;}
.acenter {text-align:center;}
.aleft {text-align:left;}
.aright{text-align:right;}

.pad5, .p5 {padding:5px;}
.pad10, .p10 {padding:10px;}
.pad20, .p20 {padding:20px;}
.pad30, .p30 {padding:30px;}
.pad40, .p40 {padding:40px;}
.pad20vw, .p20vw {padding:20vw;}

.fontS {font-size:0.9em}
.fontB {font-size:1.1em}

.inline {display:inline; float:none;}
.nofloat {float:none;}
.block {display:block;}
.ib {display:inline-block; float:none; vertical-align:middle;}
.mcenter {margin:0 auto;}

.bold {font-weight:bold;}
.italic {font-style:italic;}

table {width:100%;}

.fitimage img, img.fitimage {
	width:100%;
	height:auto;
}
.hide {display:none;}

.test {}

/* ------------------------------------------- bricks END */
