/* ------------------------------------------- bricks */

.brick {
	float:left;
	padding:0;
	margin:0;
	width:100%;
	position:relative;
}
.brick > .pad {padding:10px;}

.left, .pull-left {float:left;}
.right, .pull-right {float:right;}

.one {width:100%;}
.two {width:50%;}
.three {width:33%;}
.four {width:25%;}
.five {width:20%;} 

.top {vertical-align:top;}
.bottom {vertical-align:bottom;}
.middle {vertical-align:middle;}
.aligncenter {text-align:center;}
.alignleft {text-align:left;}
.alignright{text-align:right;}


.pad5 {padding:5px;}
.pad10 {padding:10px;}

.fontS {font-size:0.9em}
.fontB {font-size:1.1em}

.inline {display:inline;}
.block {display:block;}
.mcenter {margin:0 auto;}

.bold {font-weight:bold;}
.italic {font-style:italic;}

table {width:100%;}

img .responsive {
	width:100%;
	height:auto;
}
.hide {display:none;}

/* ------------------------------------------- bricks END*/
